/* src/App.css */

/* Change text color to white */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  background-color: #007bff; /* Navbar background color */
  color: white; /* Text color */
  font-family: 'Arial', sans-serif; /* Font family */
  /* Add more styles as needed */
}

/* Change text color for the links */
.navbar .nav-link {
  color: white !important; /* Override default link color */
}

/* Change font style for the brand (logo) */
.navbar .navbar-brand {
  font-family: 'Times New Roman', serif; /* Font family for the brand */
  font-weight: bold; /* Font weight */
  /* Add more styles as needed */
}
.navbar-container .search-form {
  display: flex;
  align-items: center;
}
